@font-face {
  font-family: 'CodecPro';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('https://fonts.cdnfonts.com/s/31902/CodecPro-Regular.woff') format('woff');
}

@font-face{
  font-family: 'CodecPro';
  font-style: italic;
  font-weight: 400;
  src: local('Codec Pro'), url(https://fonts.cdnfonts.com/s/31902/CodecPro-Italic.woff) format('woff')
}